body {
  text-align: center;
  background-color: #CEE3F8;
  margin: auto;
}


#link {
  margin: auto;
  background-color: maroon;
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 3px solid black;
  padding-left: 150px;
  padding-right: 150px;
  text-decoration: none;
  color: white;
  margin-top: 100px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F1C40F;
  color: black;
  text-align: center;
}

label {
	display: inline-block;
	width: 150px;
	text-align: right;
	font-weight: bold;
}

input[type="checkbox"] {
  margin-right: 152px;
}

nav {
  width: 100%;
  margin: auto;
}

nav > div {
  display: flex;
  text-align: center;
  border-width: 1px;
  border-color: black;
  justify-content: space-evenly;
}

nav > div > a {
 color: white;
 border: 1px solid black;
 margin: 2px;
 flex-grow: 1;
 background-color: maroon;
 text-decoration: none;
 box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

h1{
  font-size: 32pt;
  color: black;
  text-transform: uppercase;
  background-color: #F1C40F;
  text-align: center;
  margin: 0px;
  margin-bottom: 10px;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.passwordContainer, .question {
  text-align: left;
}

#passwordReset {
  margin-top: 20px;
}


form {
  background-color: white;
  text-align: center;
	margin-top: 10px;
  margin: auto;
	border: 2px solid black;
	border-radius: 10px;
	padding: 20px;
	width: 450px;
}

#searchForm {
  text-align: left;
  margin-top: 20px;
}

.submitButton {
  text-align: center;
}

input[type="submit"] {
  color: white;
  background-color: #4B98AC;
  border: none;
  height: 35px;
  width: 100px;
  margin-top: 30px;
}
